.container {
	padding: 15px;
	display: flex;
	flex-direction: column;
}

.container header {
	margin-top: 50px;
	text-align: center;
}

.search {
	text-align: center;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.search input,
.search button {
	height: 38px;
	padding: 10px;
	border-radius: 6px;
	outline: none;
}

.search input {
	width: 35%;
	min-width: 200px;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.5;
	background-color: transparent;
	border: 1px solid #2644615d;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search input:focus {
	outline: none;
	border: 2px solid rgb(0, 0, 0);
}

.search button {
	background-color: black;
	color: white;
	letter-spacing: 0.5px;
	font-size: medium;
	font-weight: 600;
	cursor: pointer;
}

.search button:hover {
	opacity: 0.7;
}

.search-results {
	margin: 40px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 60px;
}

@media (max-width: 350px) {
	.search input {
		min-width: 90vw;
	}

	.search {
		flex-direction: column;
	}
}
